POSTGRES_USER=myUser
POSTGRES_PASSWORD=myPassword
POSTGRES_DB=myDatabase
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

PRODUCTION_POSTGRES_USER=
PRODUCTION_POSTGRES_PASSWORD=
PRODUCTION_POSTGRES_DB=
PRODUCTION_POSTGRES_HOST=
PRODUCTION_POSTGRES_PORT=

JWT_SECRET=